<form action="/product/save" method="post">
    <input name="name" placeholder="Enter product name">
    <input name="price" placeholder="Enter product price">
    <button type="submit">Save</button>
</form>

<ul>
    <li th:text="${p1.name}"></li>
    <li th:text="${p1.price}"></li>
</ul>

<ul>
    <li th:text="${p2.name}"></li>
    <li th:text="${p2.price}"></li>
</ul>

<ul>
    <th:block th:each="item: ${items}">
        <li th:text="${item.name}"></li>
        <li th:text="${item.price}"></li>
    </th:block>
</ul>
