<!--bai 1-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Staff Create</title>
</head>
<body>
<h2>Staff Form</h2>

<i th:text="${message}"></i>
<form th:object="${staff}" action="/staff/create/save"
      method="post" enctype="multipart/form-data">


    Email: <input type="email" th:field="*{id}"><hr>

    Họ và tên: <input type="text" th:field="*{fullname}"><hr>

    Giới tính:
    <input type="radio" th:field="*{gender}" value="true"> Nam
    <input type="radio" th:field="*{gender}" value="false"> Nữ<hr>

    Ngày sinh:
    <input type="date" th:field="*{birthday}"><hr>

    Hình ảnh:
    <input th:field="*{photo}" type="hidden">
    <input name="photo_file" type="file"><hr>

    Cấp bậc:
    <select th:field="*{level}">
        <option value="0">Úy</option>
        <option value="1">Tá</option>
        <option value="2">Tướng</option>
    </select><hr>

    Salary: <input  th:field="*{salary}" step="0.01"><hr>

    <button type="submit">Create</button>
</form>

</body>
</html>
