<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Đăng nhập</h2>
<form action="/account/login" method="post">
    <label>Username:</label>
    <input name="username"><br><br>

    <label>Password:</label>
    <input name="password" type="password"><br><br>

    <label>
        <input type="checkbox" name="remember" value="true"> Ghi nhớ đăng nhập
    </label><br><br>

    <button>Login</button>
</form>
</body>
</html>
